* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
}

.container-blur {
    filter: blur(5px);
    display: flex;
    min-height: 100vh;
}

.navigation {
    transition: transform 1s ease-in-out;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
}


.remove-btn {
    background-color: unset;
    color: #fff;
    border: none;
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container-messages {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 10px;
    flex-direction: column;
    gap: 3px;
    display: none;
}

.container-messages-visible {
    display: block;
    height: 100%;
        display: flex;
        align-items: start;
        justify-content: end;
        padding: 10px;
        flex-direction: column;
        gap: 3px;
}


.message-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
    background-color: var(--active-bg);
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
}

.change-btn {
    border: none;
    background: unset;
    cursor: pointer;
}

.input-changer-text {
    border: none;
    background-color: unset;
    outline: none;
    color: #fff;
    font-size: 14px;
}