.sidebar {
    width: clamp(200px, 40vw, 600px);
    min-height: 100vh;
    background-color: var(--main-bg-color-chats);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.04);
    user-select: none;
}

.container-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.container_sections--navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections_navigation--list {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: var(--input-bg);
    border-radius: 30px;
}

.navigation_list--items {
    color: #a09e9e;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.navigation_list--items.active {
    background-color: var(--active-bg);
    color: #fff;
    border-radius: 30px;
}

.navigation_list--item:hover {
    color: #fff;
}

.container-create {
    display: flex;
    gap: 5px;
    padding: 5px 10px 0 10px;
}

.container-search {
    padding: 0 10px;
}

.search-input,
.create-input {
    border: none;
    height: 35px;
    border-radius: 40px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
    outline: none;
    background: var(--input-bg);
}

.search-input::placeholder {
    padding: 0 5px;
    font-weight: 200;
}

.container-chats {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.container_chats--chat {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--input-bg);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.chat_photo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.chat_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 6px;
}

.chat_content--title {
    font-size: 18px;
    color: #fff;

}

.chat_content--text {
    font-size: 14px;
    color: #a09e9e;
}

.chat_time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.chat_time--time {
    font-size: 14px;
    color: #58a7e7;
}

.chat_time--messages {
    color: #fff;
    background-color: #58a7e7;
    font-size: 14px;
    padding: 3px 8px 3px 8px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }

        .sidebar-hidden {
            width: 0%;
            display: none;
        }

    .navigation {
        width: 0%;
    }

    .navigation-visible {
        width: 100%;
    }
}